.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    position: relative;
    width: 1000px;
    height: 500px;
    border: 2px solid black;
}

.parkingSlot {
    position: absolute;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
}